<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="25246bibouh123.SkyDriveDownloader" Publisher="CN=4F652775-655B-453A-A8E1-C7B21A2D7901" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SkyDrive Downloader</DisplayName>
    <PublisherDisplayName>bibouh123</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SkyDriveDownloader2.App">
      <VisualElements DisplayName="SkyDrive Downloader" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SkyDriveDownloader2" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>